{% extends "base.html" %}
<!--  -->
{% load i18n %}
<!--  -->
{% block head_title %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% trans "Change Password" %}
<!--  -->
{% endblock %}
<!--  -->
{% block content %}
<div class="container my-2">
  <h1>{% trans "Change Password" %}</h1>

  <form
    method="POST"
    action="{% url 'account_change_password' %}"
    class="password_change"
  >
    {% csrf_token %}
    <!--  -->
    {{ form|crispy }}

    <div class="my-2">
      <button class="btn btn-primary" type="submit" name="action">
        {% trans "Change Password" %}
      </button>
      <a href="{% url 'account_reset_password' %}"
        ><button class="btn btn-danger">
          {% trans "Forgot Password?" %}
        </button></a
      >
    </div>
  </form>
</div>

{% endblock %}
